<header>

  <div class="header-top">
    <div class="container">
    <img src="{{ output.base_path  }}/themes/si8/images/ras-bianco-png.svg" alt="Regione Autonoma della Sardegna" class="logo"/>
      <a href="http://www.regione.sardegna.it"><span class="ras">Regione Autonoma della Sardegna</span></a>
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <div class="site-title pull-left"> <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><strong>Sardegna</strong>Impresa
        <span class="subtitle">Sistema imprenditoriale della Sardegna</span></a>
      </div>

      <div class="header-right pull-right">

        <div class="icon-social">
          <a href="https://www.facebook.com/sardegnaimpresa"><i class="fa fa-facebook-official"></i></a>
          <a href="https://twitter.com/SardegnaImpresa"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/user/sardegnaimpresa"><i class="fa fa-youtube"></i></a>
        </div>

      </div>
    </div>

  </div>

  <div class="header-down">
    {{ drupal_block('si8_main_menu') }}
  </div>


</header>