.header-top {
  background: @brand-gray;
  color: #fff;
  font-family: @font-footer;
  padding: 10px 0;

  a {
    color: #fff;
  }

  .logo {
    width: 40px;
    margin-right: 10px;
  }
}

.header-main {
  background: @brand-primary;
  color: #fff;
  padding: 20px 0;

  a {
    color: #fff;
  }

  .icon-social {
    a {
      font-size: 4rem;
    }
  }

  .site-title {
    color: #fff;
    font-family: @font-footer;
    font-size: 3.7rem;

    .subtitle {
      font-size: 1.8rem;
      display: block;
    }
  }
}

.header-down {
  background-color: @brand-secondary;
  text-align: center;

  .navbar-nav {
    display: inline-block;
    float: none;
    padding: 5px;

    a {
      color: #fff;
      font-family: @font-footer;
      font-size: 2rem;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}