article.page.full {

  font-size: 2rem;

  .field--name-field-immagine {
    margin-bottom: 30px;
  }

  .content .col-md-8 > .field {
    margin-bottom: 25px;
  }

  .field--name-field-box {
    .make-row();
    margin-top: 50px;

    & > .field--item {
      .make-md-column(4);
      margin-bottom: 30px;
    }

    .paragraph--type--contenuto-custom {
      img {
        max-width: 100%;
      }
    }

    .field--name-field-link {
      a {
        color: #000;
        font-family: @font-footer;
        font-size: 2.5rem;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 20px;
      }
    }

    .field--name-field-testo {
      font-size: 1.7rem;
    }

    .box-separator {
      background-color: @brand-primary;
      height: 8px;
      width: 50%;
      margin-bottom: 20px;
    }
  }

  .field--name-field-risorse-collegate {
    .field--label {
      font-weight: bold;
      background-color: #333;
      color: #fff;
      padding: 10px;
      padding-left: 15px;
    }

    .field--item  {
      border-bottom: 1px solid @gray-lighter;
      font-size: 1.8rem;
      list-style-type: none;

      a {
        display: block;
        padding: 15px;

        &:hover {
          background-color: @gray-lighter;
        }

        &.is-active {
          background-color: @brand-primary;
          color: #fff;
        }
      }
    }
  }

}

#block-navigazioneprincipale {

  margin-bottom: 50px;

  & > ul.menu {
    & > li {
      display: none;
    }

    & > li.expanded {
      display: block;

      a {
        background-color: @brand-primary;
        color: #fff;
      }

      ul {
        padding-left: 0;

        li {

          list-style-type: none;
          border-bottom: 1px solid @gray-lighter;

          a {
            background-color: #fff;
            color: @brand-primary !important;
            display: block;
            padding: 15px;

            &.is-active {
              background-color: @gray-lighter;
              color: @brand-primary;
            }

            &:hover {
              background-color: @gray-lighter;
            }
          }
        }
      }
    }
  }
}