article.news.elenco {

  .field--name-field-immagine {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .field--name-body {
    margin-top: 20px;
  }
}

.elenco-news {
  .views-row {
    border-bottom: 1px solid @gray-lighter;
    font-size: 2rem;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .news-link {
    font-weight: bold;
    font-size: 3rem;
  }
}