/* Only Large screen */
@media (min-width: @screen-lg-min) {

}

/* Only Medium screen */
@media (min-width: @screen-md) and (max-width: @screen-md-max) {

}

/* Only Small screen */
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  #block-navigazioneprincipale {
    margin-bottom: 0;
  }

  .main-container {
    aside {
      position: fixed;
      top: 228px;
      bottom: 0;
      right: -100%;
      z-index: 3000;
      width: 360px;
      height: ~"calc( 100% - 228px )";
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      background-color: #fff;
      -webkit-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      &.active {
        right: 0;
      }
      #block-elencoargomenti{
        h3{
          margin-top:0;
        }
      }
    }
    #secondary-menu-btn{
      position: absolute;
      right: 30px;
      top: 210px;
       i {
        font-size: 2.5rem;
      }
    }
    #hamburger-secondary-close{
      cursor: pointer;
      font-size: 2.4rem;
      padding: 10px;
      color: @brand-primary;
    }
  }
}

/* Extra small screen and lower */
@media (max-width: @screen-xs-max) {
  #block-navigazioneprincipale {
    margin-bottom: 0;
  }

  #block-menu-hamburger{
    width: 320px;
  }
  .main-container {
    aside {
      position: fixed;
      top: 148px;
      bottom: 0;
      right: -100%;
      z-index: 3000;
      width: 320px;
      height: ~"calc( 100% - 148px )";
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      background-color: #fff;
      -webkit-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      &.active {
        right: 0;
      }
      #block-elencoargomenti{
        h3{
          margin-top:0;
        }
      }
    }
    #secondary-menu-btn{
      position: absolute;
      right: 30px;
      top: 210px;
      i{
        font-size: 2.5rem;
      }
    }
    #hamburger-secondary-close{
      cursor: pointer;
      font-size: 2.4rem;
      padding: 10px;
      color: @brand-primary;
    }
  }
}

@media (max-width: @screen-xxs) {

}